 {
    outline: 1px solid orange;
}

body {
    background-color: #222;
    font-family: "Vardana", sans-serif;
    font-size: 14px;
    color: #d4d4d4;
}

header {

    background-color: #222222;
}

.menu {
    display: flex;
    justify-content: center;
    padding: 10px 20px 60px;
}
.menu a:hover{
    font-size: 14pt;
    color: brown;
}
.menu a:active{
    color: aqua;
}

ul {
    list-style: none;
}

.menu li {
    display: inline-block;
    padding-left: 100px;
    padding-top: 25px;
}

.ul img {
    padding-left: 100px;
    margin-top: 35px;
}
.ul img:hover{
    width: 30px; 
    height: 30px;
}
h1 {
    font-family: "Courier New Bold", "Counter Bold", herif font-size:45px;
}

.rocket {
    display: flex;
    justify-content: space-around;
    font-size: 14pt;
}

.text {
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    
}

.button {
    border-color: yellow;
    background-color: yellow;
    border-radius: 25px;
    width: 240px;
    height: 50px;
}
.button:hover{
    background-color: red;
    border-color: red;
}
.button:active{
    background-color: blue;
    border-color: blue;
}
main {

    background-color: #222222;
}

.advantages {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 50px;
}

.content {

    background-color: #ffffff;
    font-family: "Vardana", sans-serif;
    font-size: 14px;
    color: #222222;
}

.container1 {
    display: flex;
    justify-content: space-around;
}

.container2 {
    display: flex;
    justify-content: space-around;
}

.container2 li::before {
    content: '';
    left: 0;
    top: 0;
    width: 8px;
    height: 8px;
    background-color: yellow;
}
.form{
    display: flex;
    justify-content: space-around;
}
.name{
    width: 440px;
    height: 35px;
}
.rost{
    width: 215px;
  height: 35px;  
}
button{
    border-color: yellow;
    background-color: yellow;
    border-radius: 25px;
    width: 240px;
    height: 50px;
}
button:hover{
    background-color: red;
    border-color: red;
    
}
button:active{
    background-color: blue;
    border-color: blue;
}
.polet{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.table{
  background-color: #333333;
    color: white;
}
.table-raspis{
    margin-top: 20px;
       display: flex;
    justify-content: center;
}
table{
    width: 960px;
}
table td {
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.dog{
    width: 440px;
}
.container3{
  ;
}
.container4{
      
}

footer {
    display: flex;
    justify-content:space-around;
    background-color: #222222;
}
.info{
    margin-top: 25px;
}
.space{
  display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 50px;
}
.table-footer {
   
     margin-top: 20px;
       display: flex;
    justify-content: center;
}
.bag {
    font-size: 18pt;
   }
.bag td{
    width: 130px;
}
td{
    width: 80px;
}
